body {
  height: 100vh;
  width: 100vw;
  background-color: #7d7c79;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resume {
  width: 8.5in;
  min-width: 8.5in;
  height: 11in;
  background-color: white;
}

.download-button-container {
  position: absolute;

  bottom: 10px;
  right: 10px;
}

.download-button {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #3963fa;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
