body {
  background-color: #7d7c79;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.resume-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;
}

.resume {
  margin: auto;
  width: 8.5in;
  height: 11in;
  background-color: white;
}

.download-button-container {
  position: absolute;

  bottom: 5px;
  right: 20px;
}

.download-button {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #3963fa;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
