body {
    margin: 0px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.resume {
    width: 8in;
    height: 11in;
    overflow: auto;
    display: flex;
}

.side_content {
    display: flex;
    flex-direction: column;
    flex-basis: 2.25n;
    background: #2d2f33;
    overflow: hidden;
    color: white;
}

.side_content__item {
    font-size: 12px;
    margin: 10px 10px 10px 10px;
}

.side_content__item a, a:visited {
    text-decoration: none;
    color: white;
}

.side_content__item a:hover {
    color: #5b5d63;
}

.side_content_title {
    font-size: 32px;
}

.side_content_subtitle {
    font-size: 20px;
    margin: 0px 10px 10px 10px;
}

.side_content__header {
    background: #191a1c;
}



.main_content {
    display: flex;
    flex-direction: column;
    flex-basis: 5.75in;
    overflow: hidden;
}