body {
    margin: 0px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.resume {
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    display: flex;
}

.row {
    display: flex;
    width: 100%;
}

.row__item__grow {
    flex: 1 1 auto;
}

.row__item__right_align {
    text-align: right;
}

.side_content {
    display: flex;
    flex-direction: column;
    flex-basis: 2.3in;
    background: #2d2f33;
    overflow: hidden;
    color: white;
}

.side_content__item {
    font-size: 12px;
    margin: 10px 10px 10px 10px;
}

.side_content__item a, .side_content__item a:visited {
    text-decoration: none;
    color: white;
}

.side_content__item a:hover {
    color: #5b5d63;
}

.side_content_title {
    font-size: 32px;
}

.side_content_subtitle {
    font-size: 20px;
    margin: 0px 10px 10px 10px;
}

.side_content__header {
    background: #191a1c;
}

.main_content {
    display: flex;
    flex-direction: column;
    flex-basis: 6.2in;
    overflow: hidden;
}

.main_content__item {
    font-size: 14px;
    margin: 5px 10px 5px 10px;
}

.main_content__item:first-of-type {
    margin: 10px 10px 5px 10px;
}

.main_content__header {
    width: calc(100% - 20px);
    margin: 10px 10px 10px 10px;
    border-top: 1px solid #5b5d63;
    border-bottom: 1px solid #5b5d63;
    font-size: 20px;
}

.main_content__item_title {
    font-size: 20px;
}

.main_content__item ul, li {
    margin: 0;
    margin-left: -10px;
}

.main_content__item a, .main_content__item a:visited {
    text-decoration: none;
    color: black;
}

.main_content__item a:hover {
    color: #5b5d63;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
}

.projects_list__project {
    width: 50%;
    margin-bottom: 10px;
}